<div ng-controller="Alerts">
    <h4>Low Quantity Alerts</h4>
    <ul>
        <li ng-repeat="i in inventory | Alert" ng-click="selectProduct(i.product.name, i.retailer.r_ID)">
            {{i.retailer.R_NAME}} is low on {{i.product.name}}, quantity on hand: {{i.RI_PRODUCT_QUANTITY}} threshold: {{i.RI_PRODUCT_THRESHOLD}}
        </li>
    </ul>
</div>