<div ng-controller="PieCharts">
    <div id= "pie0">

    </div>
    <div id="pie1">

    </div>
    <div id="pie2">
    
    </div>

    <div id="pie3">
      
    </div>
    <div id="pie4">

    </div>

</div>