<div class="views" ng-controller="NewOrderCtrl">
    <h2>New Orders</h2>
    <form class="form">
        <div class="form-group">
            <label>Order ID </label>
            <input type="text" ng-model="orderId">
        </div>

        <div class="form-group">
            <label>Order Line ID </label>
            <input type="text" ng-model="orderLineId">
        </div>
        
        <div class="form-group">
            <label>Retailer </label>
            <select ng-model="selectedRetailer" ng-options="r_ID as retailer.R_NAME for retailer in retailers" class="selectRet"></select>
        </div>

        <div class="form-group">
            <label>Supplier </label>
            <select ng-model="selectedSupplier" ng-options="supplier.S_NAME for supplier in suppliers"></select>
        </div>

        <div class="form-group"> 
            <label>Product </label>
            <select ng-options="product.name for product in products" ng-model="selectedProduct"></select>
        </div>
       
        <div class="form-group">
            <label>Quantity </label>
            <input type="number" ng-model="quantity">
        </div>
        
        <div class="form-group">
            <button ng-click="addOrder()">Order</button>
        </div>
    </form>
</div>