<div  class="views">
    <h2>Products</h2>
    <div class="row" ng-controller="cat" >
        <label>Category</label>
        <select ng-model="SelectedCats" ng-selected="{{item==SelectedCats.text}}" ng-change="onChange()">
            <option value="All">All</option>
            <option ng-repeat="c in categories" value="{{c.c_NAME}}">{{c.c_NAME}}</option>
        </select>
    </div>

    <div class="row" data-ng-controller="ProductCtrl">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                    <th>Supplier Price</th>
                    <th>Retailer Price</th>
                </tr>
            </thead>
            <tbody ng-repeat="p in products | filterCat"> 
                <tr>
                    <td>{{p.id}} </td>
                    <td>{{p.name}} </td>
                    <td>${{p.supplierPrice}} </td>
                    <td>${{p.retailerPrice}} </td>
                </tr>  
            </tbody>
        </table>    
    </div>
    
</div>