<div class="views" ng-controller="PurchaseOrders">
    <h2>Purchase Orders</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Supplier</th>
                <th>Retailer</th>
                <th>Cost</th>
            </tr> 
        </thead>
        <tbody ng-repeat="po in POrders"> 
            <tr>
                <td>{{po.PO_ID}}</td>
                <td>{{po.PO_TS | customDateFilter: search}}</td>
                <td>{{po.supplier.S_NAME}}</td>
                <td>{{po.retailer.R_NAME}}</td>
                <td>{{po.PO_COST}}</td>
            </tr>
            
        </tbody>
            
    </table>
</div>