<div class="views" ng-controller="Retail">
    <h2>Retailers</h2>
    <table class="table table-bordered">
        <thead>
           <tr>
                <th>Retailer ID</th>
                <th>Name</th>
                <th>Addresss</th>
            </tr>  
        </thead>
        <tbody ng-repeat="r in retailers">
            <tr>
                <td>{{r.r_ID}} </td>
                <td>{{r.r_NAME}} </td>
                <td>{{r.address.a_Street}}, {{r.address.a_City}}, {{r.address.a_State}} {{r.address.a_Zip}} </td>
            </tr>
        </tbody>
    </table>
</div>