<div class="views" ng-controller="rs_sales">
    <h2>Sales</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sale ID</th>
                <th>Retailer</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody ng-repeat="s in sales | orderBy:'RS_ID'">
            <tr>
                <td>{{s.RS_ID}} </td>
                <td>{{s.retailer.R_NAME}} </td>
                <td>{{s.product.name}} </td>
                <td>{{s.RS_PRODUCT_QUNATITY}} </td>
                <td> ${{s.rsCost}} </td>
                <td> {{s.rs_TS}} </td>
                <!--<td>{{s.RS_TS.dayOfWeek}}, {{s.RS_TS.month}} {{s.RS_TS.dayOfMonth}}, {{s.RS_TS.year}} </td>-->
            </tr>
        </tbody>
    </table>
</div>