<div class="views" ng-controller="Supplier">
    <h2>Suppliers</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>Supplier ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
        </thead>
        
        <tbody ng-repeat="s in suppliers">
            <tr>
                <td>{{s.S_ID}} </td>
                <td>{{s.S_NAME}} </td>
                <td>{{s.address.a_Street}}, {{s.address.a_City}}, {{s.address.a_State}} {{s.address.a_Zip}} </td>
            </tr>
        </tbody>
    </table>
</div>