body{
    backgroun5d-color: #EAE8FF;
}

.bestWorst{
    width: 800px;
    height: 220px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.alerts{
    width: 500px;
    height: 220px;
    overflow-y: auto;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 840px;
    border: 2px solid black;
    border-radius: 5px;
}
.catagories{
    width:100%;
    height: 220px;
    padding: 10px;
    position: absolute;
    top: 410px;
    left: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
#pie0{
    position: absolute;
    width: 19%;
    height: 210px;
}
#pie1{
    position: absolute;
    width: 19%;
    height: 210px;
    left: 20%
}
#pie2{
    position: absolute;
    width: 19%;
    height: 210px;
    left: 40%;
}
#pie3{
    position: absolute;
    width: 19%;
    height: 210px;
    left: 60%
}
#pie4{
    position: absolute;
    width: 19%;
    height: 210px;
    left: 80%
}
.TitlePic{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 225px;
    height: 150px;
    
}
.TitleWords{
    position: absolute;
    top: 0px;
    left: 260px;
}

.outer{
    position: absolute;
    top: 120px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.views{
    position: absolute;
    top: 160px;
    left:50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.btn-group button {
    background-color: #96ADFF; /* Blue background */
    border: 1px solid blue; /* Blue border */
    color: white; /* White text */
    padding: 10px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #BCC1FF;
}
ul li:hover {background-color: #BCC1FF}