<!DOCTYPE html>
<html lang="en">
<head>
    
    <base href="/"/>
    <meta charset="UTF-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"></link>


    <script language="JavaScript" src="fusioncharts-suite-xt/js/fusioncharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.4/angular-locale_de-de.js" type="text/javascript"></script>
        <!-- Angular charts plugin -->
    <script type="text/javascript" src="/app/angular-Fusioncharts.Min.js"></script>
    <script type="text/javascript" src="/app/IMSapp.js"></script> 
        <script src="app/retailerService.js"></script>
    <script src="app/supplierService.js"></script>
    <script src="app/productService.js"></script>
    <script src="app/orderLineService.js"></script>
    <script src="app/newOrderController.js"></script>
    <link rel="stylesheet" type="text/css" href="ims.css"></link>
    <title>Inventory Management System</title>
    </head>
<body>
        <div class="Titlebar" ng-app="IMS_app">
        
            <img src="SecureCloud-Edited.png" alt="IMS" class = "TitlePic"/>
        <div class="TitleWords">
            <h1>Welcome to the Inventory Management System</h1>
            <small class="text-muted">We serve all your inventory needs</small>
        </div>
        <div class="outer">
            <div class="btn-group button" ng-controller="index">
                <button class = "Home" ng-click="Home()">Home</button>
                <button class = "Suppliers" ng-click="Suppliers()">Suppliers</button>
                <button class = "Retailers" ng-click="Retailers()">Retailers</button>
                <button class = "Products" ng-click="Products()" >Products</button>
                <button class = "PuchaseOrders" ng-click="PuchaseOrders()" >Puchase Orders</button>
                <button class = "Sales" ng-click="Sales()" >Sales</button>
                <button class = "NewOrder" ng-click="NewOrder()">New Order</button>
            </div>
        </div>
        <ui-view></ui-view>
    </div>
    
</body>
</html>